@use "utils" as u;

.brand {
  height: u.rem(100);
  width: clamp(50px, 5vw, 60px);
  place-content: center;
}

.search-bar-container {
  position: relative;
}

.dropdown-box {
  display: none;
  position: absolute;
  right: 0;
  padding: 10px;
  background-color: rgba(rgb(88, 88, 88), 0.2);
  backdrop-filter: blur(30px);
  border: 1px solid var(--border-color);

  &.search-result-list {
    left: 0;
    right: initial;
    top: 120%;

    .dropdown-content {
      .dropdown-link {
        &-img {
          width: clamp(100px, 20vw, 200px);
          background-color: rgba(0, 0, 0, 0.5);
          backdrop-filter: blur(1px);
        }

        &-info {
          width: clamp(150px, 50vw, 400px);

          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
          }
        }
      }
    }
  }

  &.show {
    display: block;
  }

  .dropdown-content {
    list-style: none;

    .dropdown-link {
      min-width: u.rem(150);
      padding: u.rem(10);

      transition: 0.2s background;

      &:hover {
        background-color: rgba(rgb(216, 216, 216), 0.2);
      }
    }
  }
}

// fix this
.card-wrapper {
  position: relative;
  flex-shrink: 0;
  min-width: 200px;

  &.banner-card {
    flex: 1 1 0;
  }

  .game-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  .img-thumbnail {
    width: 100%;
    transition: 0.2s filter;

    &:hover {
      filter: brightness(1.2);
    }
  }

  &.game-card {
    width: clamp(250px, calc(250px + 11vw), 450px);

    .thumbnail {
      width: 100%;
    }
  }

  &:hover .add-to {
    opacity: 1;
  }
}

.lib-games-thumbnail {
  position: relative;

  &:hover .add-to {
    opacity: 1;
  }
}

.slider-container {
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  a {
    scroll-snap-align: start;
  }
}

.back-arrow {
  line-height: 0;
}

.add-to {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  padding: 0px;
  border: 2px solid white;
  border-radius: 100px;
  background-color: black;
  backdrop-filter: blur(5px);

  transition: 0.2s opacity;

  i {
    font-size: 1.2rem;
    line-height: 0;
    display: block;
  }
}

.slider-header {
  i {
    font-weight: 100;
    transition: 0.2s ease-out translate;
  }

  h3 {
    margin: 0;
    line-height: 1;
  }

  a:hover i {
    translate: 5px;
  }
}

.slider-nav {
  button {
    background-color: var(--card-bg);
    border-radius: 100px;
    line-height: 0;
    padding: 10px;

    transition: 0.2s background;

    &:hover {
      background-color: var(--accent-color-2);
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

.top-games-slider {
  .game-slide {
    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent 50%);
      z-index: 2;
    }

    .splide-img {
      object-position: center;
    }

    .game-slide-content {
      z-index: 100;

      .game-logo {
        height: u.rem(200);
        margin-bottom: u.rem(30);
      }

      position: absolute;
      bottom: 0;
      left: 0;
      max-width: u.rem(500);
      margin: u.rem(50) u.rem(70);
      z-index: 3;
    }

    &-small {
      .gradient {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8));
      }

      .splide-img {
        height: u.rem(500);
      }

      .game-logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: u.rem(150);
        z-index: 2;
      }

      .game-slide-content {
        .game-des {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        margin: u.rem(20) u.rem(20);
      }
    }
  }
}
