@use "utils" as u;

.game-details-wrapper {
  position: relative;

  .details-main {
    .game-description {
      position: relative;
      max-height: u.rem(900);
      overflow: hidden;

      &.expanded {
        max-height: unset;

        .read-more-grad {
          display: none;
        }
      }

      .read-more-grad {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background: linear-gradient(to bottom, transparent, var(--bg-color) 100%);
      }

      .read-more-btn {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 50%;
        translate: -50%;

        a {
          color: var(--text-color-accent);
          padding: u.rem(10);
          cursor: pointer;
        }

        hr {
          width: 100%;
          border-top: u.rem(2) solid var(--text-color-accent);
          margin: 0;
        }
      }
    }
  }

  .details-aside {
    &-content {
      position: sticky;
      bottom: 0;
      height: auto;
    }

    .aside-header-img {
      // background: radial-gradient(rgba(0, 150, 200, 0.2) 0%, transparent 70%);

      img {
        max-height: u.rem(200);
        object-fit: contain;
      }
    }
  }
}

.splide__slide {
  position: relative;
  place-content: center;
  border-radius: u.rem(10);
  overflow: hidden;

  .blur-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(u.rem(50));
  }

  .splide-img {
    position: relative;

    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.pegi-rating {
  border: u.rem(1) solid var(--text-color-accent);

  .pegi-logo {
    width: clamp(45px, 5vw, 70px);
  }

  .pegi-info {
    width: 100%;
  }
}

.price {
  .discount {
    background-color: var(--accent-color);
    border-radius: u.rem(100);
  }
}

.list-group-item {
  border-color: inherit;
}

.description {
  max-width: u.rem(900);
  margin-inline: auto;
  margin-bottom: u.rem(10);

  hr {
    border-top: u.rem(1) solid var(--accent-color);
    opacity: 1;
  }

  h2 {
    font-size: var(--fs-lg);
  }

  h3 {
    font-size: var(--fs-md);
  }

  .bb_img {
    display: block;
    width: 100%;
    border-radius: u.rem(7);
  }

  .description-content {
    ul {
      li {
        margin-inline: 0;
        padding: 0;
      }
    }

    p {
      font-size: var(--fs-base);
    }

    h1 {
      text-decoration: underline;
      text-underline-offset: u.rem(15);
      text-decoration-thickness: u.rem(2);
      text-decoration-style: dashed;
      text-decoration-color: var(--accent-color);
      font-size: var(--fs-xl);
      margin-bottom: u.rem(35);
    }

    .bb_tag {
      margin-top: u.rem(40);

      * {
        color: var(--accent-color) !important;
      }
    }

    strong {
      font-size: var(--fs-base);
      color: var(--text-color-accent);
    }
  }

  .pc-requirements {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-block: u.rem(10);

        strong {
          font-size: var(--fs-sm);
          font-weight: normal;
          text-transform: capitalize;
          color: var(--text-color-accent);
          line-height: 1.7;
        }
      }
    }

    strong {
      font-size: var(--fs-sm);
      text-transform: uppercase;
      color: var(--text-color-accent);
      line-height: 1.7;
    }
  }
}

.metacritic-logo {
  img {
    width: clamp(u.rem(20), calc(u.rem(20) + 5vw), u.rem(60));
  }
}

.achievements {
  .achievements-container {
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: var(--card-bg) transparent;
    scroll-behavior: smooth;

    .achievement-card {
      scroll-snap-align: start;

      img {
        width: clamp(u.rem(50), calc(u.rem(50) + 5vw), u.rem(150));
      }
    }
  }
}
