@use "utils" as u;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

html {
  scroll-behavior: auto !important;
}

.bg-secondary {
  background-color: var(--accent-color-2) !important;
}

.bg-card {
  background-color: var(--card-bg) !important;
}

.bg-accent {
  background-color: var(--accent-color) !important;
}

h1 {
  font-size: var(--fs-xxl);
  font-family: "Space Grotesk", sans-serif;
}
h2 {
  font-size: var(--fs-xl);
  font-family: "Space Grotesk", sans-serif;
}
h3 {
  font-size: var(--fs-lg);
  font-family: "Space Grotesk", sans-serif;
}
h4 {
  font-size: var(--fs-md);
  font-family: "Space Grotesk", sans-serif;
}
h5 {
  font-size: var(--fs-base);
  font-family: "Space Grotesk", sans-serif;
}
h6 {
  font-size: var(--fs-sm);
  font-family: "Space Grotesk", sans-serif;
}

p,
span,
a,
li {
  font-size: var(--fs-sm);
}

a {
  font-family: "Space Grotesk", sans-serif;
}

select {
  font-family: "Space Grotesk", sans-serif;
}

body {
  color: var(--text-color);
  font-size: var(--fs-base);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.text-primary {
  color: var(--text-color-accent) !important;
}
.text-secondary {
  color: var(--text-color-2) !important;
}
.text-accent {
  color: var(--accent-color) !important;
}
.text-muted {
  color: var(--text-color) !important;
}
.text-full {
  color: var(--contrast-full) !important;
}
.text-zero {
  color: var(--contrast-zero) !important;
}

.fs-1 {
  font-size: var(--fs-xxl);
}
.fs-2 {
  font-size: var(--fs-xl);
}
.fs-3 {
  font-size: var(--fs-lg);
}
.fs-4 {
  font-size: var(--fs-md);
}
.fs-5 {
  font-size: var(--fs-sm);
}
.fs-6 {
  font-size: var(--fs-xs);
}

.rounded-10 {
  border-radius: 10px !important;
}

* {
  outline: none !important;
  box-shadow: none !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

a {
  text-decoration: none;
}

.container-fluid {
  max-width: 1900px;
  margin-inline: auto;
}

button {
  border: none;
  font-weight: 500 !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.select-menu {
  background-color: var(--card-bg) !important;
  color: var(--text-color) !important;
  border: none !important;
  border-radius: 6px;
  padding: 10px;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: linear-gradient(45deg, transparent 50%, var(--text-color) 50%),
    linear-gradient(-45deg, transparent 50%, var(--text-color) 50%);
  background-position: calc(100% - 15px) calc(50% - 3px), calc(100% - 10px) calc(50% - 3px);
  background-size: 5px 5px;
  background-repeat: no-repeat;

  option:checked {
    color: var(--text-color-accent);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-accent) !important;
}

.card {
  background-color: var(--card-bg);
  color: var(--text-color);
  border: none;
  transition: 0.3s;

  &.img-card {
    &:hover {
      filter: brightness(1.2);
    }
  }
}

.profile-icon {
  aspect-ratio: 1;
  width: clamp(u.rem(40), 5vw, u.rem(50));
}

.placeholder-text {
  width: 50px;
  height: 20px;
  // background-color: var();
}

.btn {
  border: none !important;
  outline: none !important;

  &:hover {
    background-color: var(--accent-color-2);
  }

  &:active {
    border: none !important;
    outline: none !important;
  }
}

.btn-primary {
  background-color: var(--accent-color);
  color: var(--text-color-2);
  padding: u.rem(12) u.rem(35);
  border: none;

  &:hover {
    background-color: var(--accent-color);
    color: var(--text-color-2);
    filter: brightness(1.1);
  }

  &:active {
    background-color: var(--accent-color) !important;
    color: var(--text-color-2) !important;
    filter: brightness(0.7);
  }
}

.btn-secondary {
  background-color: var(--accent-color-2);
  color: var(--text-color-accent);
  padding: u.rem(12) u.rem(35);
  border: none;

  &:hover {
    background-color: var(--accent-color-2);
    color: var(--text-color-accent);
    filter: brightness(1.1);
  }

  &:active {
    background-color: var(--accent-color-2) !important;
    color: var(--text-color-accent) !important;
    filter: brightness(0.7);
  }
}

.search-bar {
  position: relative;

  i {
    position: absolute;
    top: 50%;
    left: 12px;
    translate: 0 -50%;
    z-index: 10;
  }

  .form-control {
    border-radius: u.rem(100);
    border: none;
    background-color: var(--card-bg);
    padding-inline: 40px 10px !important;

    transition: 0.2s background;

    &::placeholder {
      color: var(--text-color);
    }

    &:hover,
    &:focus {
      background-color: var(--accent-color-2);
    }
  }
}

.side-navlink {
  text-decoration: none;

  & * {
    color: var(--text-color) !important;
  }

  &.active {
    & * {
      color: var(--text-color-accent) !important;
    }

    button {
      background-color: var(--accent-color-2);
    }
  }
}

.nav-link {
  color: var(--text-color);
  font-weight: 600;

  &:hover {
    color: var(--text-color-accent);
  }

  &.back-arrow {
    margin-right: -10px !important;
  }

  & i {
    color: var(--text-color);
    transition: 0.2s color;

    &:hover {
      color: var(--text-color-accent);
    }
  }

  &.active {
    color: var(--text-color-accent) !important;
    text-decoration: underline !important;
    text-underline-offset: u.rem(10);
  }
}

.img-thumbnail {
  border: none;
  padding: 0;
}

.badge.bg-secondary {
  background-color: var(--accent-color-2) !important;
}
