@use "utils" as u;

.lib-games {
  &-thumbnail {
    min-width: 150px;
  }

  &-dots {
    &:after {
      display: none;
    }
  }

  .game-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-card {
    .achievement-div {
      .progress {
        border-radius: 100px;
        min-width: 250px;
        height: 10px;
        background-color: var(--accent-color-2);

        &-bar {
          background-color: var(--accent-color);
        }
      }
    }
  }
}

.img-thumbnail {
  background: none;
}
