// @use "variables";
@use "utils" as u;

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.text-primary {
  color: var(--text-color-accent) !important;
}

.text-secondary {
  color: var(--text-color-2) !important;
}

.text-muted {
  color: var(--text-color) !important;
}

.text-full {
  color: var(--contrast-full);
}

.text-zero {
  color: var(--contrast-zero);
}

* {
  outline: none !important;
  box-shadow: none !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

a {
  text-decoration: none;
}

.container-fluid {
  max-width: 1900px;
  margin-inline: auto;
}

button {
  border: none;
  font-weight: 500 !important;
}

.select-menu {
  background-color: var(--card-bg) !important;
  color: var(--text-color) !important;
  border: none !important;
  border-radius: 6px;
  padding: 10px;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: linear-gradient(45deg, transparent 50%, var(--text-color) 50%),
    linear-gradient(-45deg, transparent 50%, var(--text-color) 50%);
  background-position: calc(100% - 15px) calc(50% - 3px), calc(100% - 10px) calc(50% - 3px);
  background-size: 5px 5px;
  background-repeat: no-repeat;

  option:checked {
    color: var(--text-color-accent);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-accent) !important;
}

.card {
  background-color: var(--card-bg);
  color: var(--text-color);
  border: none;
  transition: 0.3s;

  &.img-card {
    &:hover {
      filter: brightness(1.2);
    }
  }
}

// [data-theme="light"] {
//   .card:hover {
//     filter: brightness(0.95);
//   }
// }

.profile-icon {
  aspect-ratio: 1;
  width: u.rem(50);
}

.btn {
  border: none !important;
  outline: none !important;

  &:hover {
    background-color: var(--accent-color-2);
  }

  &:active {
    border: none !important;
    outline: none !important;
  }
}

.btn-primary {
  background-color: var(--accent-color);
  color: var(--text-color-2);
  border: none;

  &:hover {
    background-color: var(--accent-color);
    color: var(--text-color-2);
    filter: brightness(1.1);
  }

  &:active {
    background-color: var(--accent-color) !important;
    color: var(--text-color-2) !important;
    filter: brightness(0.7);
  }
}

.btn-secondary {
  background-color: var(--accent-color-2);
  color: var(--text-color-accent);
  border: none;

  &:hover {
    background-color: var(--accent-color-2);
    color: var(--text-color-accent);
    filter: brightness(1.1);
  }

  &:active {
    background-color: var(--accent-color-2) !important;
    color: var(--text-color-accent) !important;
    filter: brightness(0.7);
  }
}

.brand {
  font-size: 4rem;
  line-height: 1;
  height: u.rem(100);
  place-content: center;

  & * {
    color: var(--text-color-accent);
    text-decoration: none;
  }
}

.side-navlink {
  text-decoration: none;

  & * {
    color: var(--text-color) !important;
  }

  &.active {
    & * {
      color: var(--text-color-accent) !important;
    }

    button {
      background-color: var(--accent-color-2);
    }
  }
}

.nav-link {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.1rem;
  padding-inline: 0 !important;

  &.active {
    color: var(--text-color-accent) !important;
    text-decoration: underline !important;
    text-underline-offset: u.rem(10);
  }
}

.dropdown-link {
  color: var(--text-color-accent);

  &:hover {
    background-color: rgba(rgb(216, 216, 216), 0.2);
  }
}

.img-thumbnail {
  border: none;
  padding: 0;
}
