@forward "globals";
@forward "variables";
@forward "utils";

@use "utils" as u;

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;

  padding-inline: 20px 32px;

  // @media (max-width: 1200px) {
  //   width: auto;
  // }
}

.main {
  height: 1500px;
  border-left: 1px solid var(--card-bg);

  padding-inline: 32px 20px;

  transition: 0.3s border;
}

.header {
  position: sticky;
  top: 0;
  height: u.rem(100);
  z-index: 100;
  background-color: var(--bg-color);

  transition: 0.3s all;
}
