@forward "globals";
@forward "variables";
@forward "utils";

@use "utils" as u;

.wrapper {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 15%;

  padding-inline: 20px 32px;
}

.main {
  height: 1500px;
  width: 85%;
  // border-left: 1px solid var(--card-bg);
  transition: 0.3s border;
  flex-grow: 1;

  padding-inline: 32px 20px;
}

.header {
  position: sticky;
  top: 0;
  height: u.rem(100);
  z-index: 100;
  background-color: var(--bg-color);

  transition: 0.3s all;
}

@media (max-width: 1400px) {
  .sidebar {
    padding-inline: u.rem(10) u.rem(10);
    width: auto;
  }

  .main {
    padding-inline: u.rem(10) u.rem(10);
  }
}
