@use "utils" as u;

.lib-games {
  &-card {
    padding: 10px;
    border: none;

    .thumbnail-div {
      position: relative;
    }

    .achievement-div {
      .progress {
        border-radius: 100px;
        width: 300px;
        height: 10px;
        background-color: var(--accent-color-2);

        &-bar {
          background-color: var(--accent-color);
        }
      }
    }
  }
}

.img-thumbnail {
  background: none;
}
